<a href="https://colab.research.google.com/github/ahmedjubayertamim/ML/blob/main/AA/22_49862_3_lab_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

User Input

In [ ]:
# Basic User Input
name = input("Enter your name: ")
print("Good Moring, " + name + "!")

Enter your name: Jubayer
Good Moring, Jubayer!

In [ ]:
# Taking Integer Input
x = int(input("Enter a Integer: "))
print(" Next Integer will be", x + 1, ".")

Enter a Integer: 10
 Next Integer will be 11 .

In [ ]:
#Taking Multiple Inputs (Space-Separated)
m, n = map(int, input("Enter two numbers separated by space: ").split())
print("Addtion:", m + n)

Enter two numbers separated by space: 5 6
Sum: 11

In [ ]:
# List Input from User
numbers = list( map(int, input("Enter integer numbers separated by space: ").split()))
print("You entered:", numbers)

Enter integer numbers separated by space: 1 2 3
You entered: [1, 2, 3]

In [ ]:
# Handling Invalid Input (Using Try-Except)
try:
    num = int(input("Enter a number: "))
    print("Square of the number:", num ** 2)
except ValueError:
    print("Invalid input! Please enter a valid number.")

Enter a number: 6
Square of the number: 36

if statement

In [ ]:
# Basic if Statement
age = int(input("Enter your age: "))

if age >= 18:
    print("You are == eligible to vote.")
else:
    print("You are not eligible to vote")

Enter your age: 15
You are not eligible to vote

In [ ]:
#if-else Statement
num = int(input("Enter a number: "))

if num % 2 == 0:
    print("The number is even.")
else:
    print("The number is odd.")

Enter a number: 5
The number is odd.

In [ ]:
# if-elif-else Statement
marks = int(input("Enter your marks: "))

if marks >= 90:
    print("Grade: A")
elif marks >= 80:
    print("Grade: B")
elif marks >= 70:
    print("Grade: C")
elif marks >= 60:
    print("Grade: D")
else:
    print("Grade: F")

Enter your marks: 99
Grade: A

In [ ]:
# Checking Multiple Conditions (and, or)
temperature = float(input("Enter the temperature: "))

if temperature > 30 and temperature < 40:
    print("It's a Fever.")
elif temperature >= 40:
    print("It's extremely Fever!")
else:
    print(" your temperature is normal.")

Enter the temperature: 65
It's extremely Fever!

In [ ]:
# Nested if Statement
num = int(input("Enter a number: "))

if num > 0:
    print("The number is positive.")
    if num % 2 == 0:
        print("It is also even.")
    else:
        print("It is odd.")
elif num < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter a number: -8
The number is negative.

for statement

In [ ]:
#Basic for Loop
for i in range(13):
    print("Iteration:", i)

Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4
Iteration: 5
Iteration: 6
Iteration: 7
Iteration: 8
Iteration: 9
Iteration: 10
Iteration: 11
Iteration: 12

In [ ]:
# for Loop Over a List
fruits = ["Apple", "Banana", "Cherry","mango","Pineapple"]

for fruit in fruits:
    print(fruit)

Apple
Banana
Cherry
mango
Pineapple

In [ ]:
# Looping Through a String
word = "Bangladesh"

for char in word:
    print(char)

B
a
n
g
l
a
d
e
s
h

In [ ]:
# Looping with range(start, stop, step)
for i in range(1, 10, 3):
    print(i)

1
4
7

In [ ]:
# Looping Over a Dictionary
student = {"name": "Ahmed", "age": 22, "grade": "A"}

for key, value in student.items():
    print(key, ":", value)

name : Ahmed
age : 22
grade : A

In [ ]:
# Using for Loop with enumerate()
colors = ["Red", "Green", "Blue","Cyan"]

for index, color in enumerate(colors):
    print(index, ":", color)

0 : Red
1 : Green
2 : Blue
3 : Cyan

In [ ]:
# Nested for Loop
for i in range(1, 2):
    for j in range(1, 4):
        print(f"i={i}, j={j}")

i=1, j=1
i=1, j=2
i=1, j=3

In [ ]:
# for Loop with break and continue
for num in range(1, 10):
    if num == 5:
        continue  # Skips 5
    if num == 8:
        break  # Stops loop at 8
    print(num)

1
2
3
4
6
7

Functions

In [ ]:
# Basic Function (No Parameters, No Return)
def greet():
    print("Hello, Welcome to Ai class!")

greet()  # Calling the function

Hello, Welcome to Ai class!

In [ ]:
# Function with Parameters
def add_numbers(m, n):
    print("Addition:", m + n)

add_numbers(8, 3)

Addition: 11

In [ ]:
# Function with Return Value
def multiply(a, b):
    return a * b

result = multiply(9, 5)
print("Multiplication:", result)

Multiplication: 45

In [ ]:
# Function with Default Parameter
def greet(name="AAAA"):
    print(" Good morning,", name)

greet()
greet("BBBB")

 Good morning, AAAA
 Good morning, BBBB

In [ ]:
# Function with Multiple Return Values
def get_square_and_cube(n):
    return n**5, n**2

square, cube = get_square_and_cube(2)
print("Square:", square, "Cube:", cube)

Square: 32 Cube: 4

In [ ]:
# Function Using *args (Multiple Arguments)
def add_all(*numbers):
    return sum(numbers)

print(add_all(11, 22, 13, 64, 5))

115

Exercise 1: Write a Python program to find the sum of the first N natural numbers using a for loop.
Example:
Input: N = 5
Output: 15

In [ ]:
# Function to calculate the sum of first N natural numbers
def sum_natural_numbers(N):
    total = 0
    for i in range(1, N + 1):
        total += i
    return total


N = int(input("Enter a positive integer: "))

print("Sum of first", N, "natural numbers is:", sum_natural_numbers(N))

Enter a positive integer: 10
Sum of first 10 natural numbers is: 55

Exercise 2: Write a Python program that reverses a string using a for loop.
Example:
Input: "Python"
Output: "nohtyP"

In [ ]:
# Function to reverse a string using a for loop
def reverse_string(s):
    reversed_str = ""
    for char in s:
        reversed_str = char + reversed_str
    return reversed_str

s = input("Enter a string: ")

print("Reversed string:", reverse_string(s))

Enter a string: Bangladesh
Reversed string: hsedalgnaB

Exercise 3: Define a method/function which will take two lists of numbers and returns a list (sum of two lists)

Example:
Input: [3,4,5,1] and [6,7,2,8]
output: [9,11,7,9]

In [ ]:
# Function to sum two lists element-wise
def sum_lists(list1, list2):
    return [list1[i] + list2[i] for i in range(min(len(list1), len(list2)))]

list1 = [3, 4, 5, 1]
list2 = [6, 7, 2, 8]

print("Summed List:", sum_lists(list1, list2))

Summed List: [9, 11, 7, 9]

Exercise 4: Write a method which will take the full name as input and return both the first name and last name.

Example:
Input: Arafat Rahman Sunny
Output: First name: Arafat, Last name: Sunny

In [ ]:
# Function to extract first and last name
def get_first_last_name(full_name):
    parts = full_name.split()  # Split by spaces
    first_name = parts[0]  # First word
    last_name = parts[-1]  # Last word
    return first_name, last_name

full_name = input("Enter full name: ")

first_name, last_name = get_first_last_name(full_name)
print("First name:", first_name)
print("Last name:", last_name)

Enter full name: Ahmed Jubayer
First name: Ahmed
Last name: Jubayer